body {
    position: relative;
}
ul.nav-pills {
    left: 0px;
    top: 20px;
    position: fixed;
}
#devices-list {
    position: relative;
    height: 950px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-right: 0%;
}
#devices-list
    /* Arrow-button */
    ::-webkit-scrollbar-button {
        display: none;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
#devices-list div {
    height: 500px;
}
img {
    height: 75px;
    width: 75px;
}
#ui-container {
    height: auto;
}